@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
}
/*---------------------------------
 Navigation Section Stylesheet
----------------------------------- */
nav{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.nav-items ul{
    display: flex;
    margin-bottom: 0;
}
ul li{  
    list-style: none;
    margin-right: 30px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.fa-sign-in-alt{
    color: rgb(17, 14, 14);
}
/* ---------------------
   Header Section
---------------------- */
header{
    /* background: linear-gradient(to right, #400c6e, #4a00e0); */
    background-image: url(img/img8.png);
    background-position: center;
    background-repeat: no-repeat;
}
.two-story-box{   
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-side{
    margin-left: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side-info{
    margin-left: 15%;
}
.left-side h1{
    font-size: 60px;
    color: rgb(255, 86, 120);
    font-family: Ubuntu,Arial,sans-serif;
    letter-spacing: 2px
} 
button{
    background-color: rgb(161, 143, 147);
    padding: 12px 20px ;
    color: #fff;
    font-size: 18px;
    border-radius: 15px 0;
    font-family: Ubuntu,Arial,sans-serif;
    letter-spacing: 2px;
    border: 1px solid #fff;
}
.right-side img{
    width: 75%;
    margin: 18% 10%;
}

/*-------------------------
 Main Section Stylesheet
------------------------- */
main{
    background-color:#fff;
    margin-top: -50px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;    
}
h2{
    font-size: 40px;
    font-family: Ubuntu,Arial,sans-serif;
    color: rgb(105, 94, 119);
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    background-color: rgba(187, 187, 187, 0.048);  
}
.player{
    width: 320px;
    height: 450px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 25px rgba(78, 78, 78, 0.397);
    border-radius: 3px;
    overflow: hidden;
    transition: 0.5s;
}
.player .player-img img{
    width: 100%;  
}
.player-info h3{
    font-size: 28px;
    margin: 10px 0;
    font-family: Ubuntu,Arial,sans-serif;
}
.player-info p, .left-side-info p{
    margin-top: 0;
    color: gray;
}

/* Gallery Images */

.gallery-area{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
}
.gallery{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.gallery-img{
    width: 300px;
   position: relative;
    overflow: hidden;
}
.gallery-img img{
    width: 100%; 
}
/* -------------------
    Sponsor Section 
----------------------*/
.sponsor-heading h3{
    font-size: 30px;
    
}
.sponsor-img img{
    margin-left: 10px;
    margin-top: 10px;
}
/*------------------------ 
   Footer Section    
--------------------------*/
footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;   
}
.logo-box{
    width: 400px;
}
.logo-box img{
    width: 100%;
}
.social-icons{
    color: rgb(155, 150, 150);
    font-size: 25px;
    text-align: center;
    letter-spacing: 10px;
    margin-top: 20px;
}
.last-text{
    text-align: center;
}
/*-------------------- 
  Special Effects 
----------------------*/
#transform{
    overflow: hidden;
    transition: 0.5s;transform-origin: center;
}
#transform:hover{
    transform: perspective(800px) rotateY(-60deg);
    
}
.player:hover{
    transform: scale(1.10);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.gallery-img{
    overflow: hidden;
    transition: .7s;
}
.gallery-img:hover{
    transform: scale(1.10);
}
/* ---------------------
    Responseve Area
------------------------ */

/*----------------Mobile Devices---------- */
@media screen and (max-width: 687px)  {

    .players, .gallery, .two-story-box{
        grid-template-columns: repeat(1, 1fr);   
    }
}
/*-----------------Tablets and ipads---------- */

@media screen and (min-width: 688px) and (max-width: 992px) {
    .players, .gallery, .two-story-box{
        grid-template-columns: repeat(2, 1fr);
    }
      
}

